<launch>
        <node pkg="selfie_scheduler" type="action_mock" name="action_mock" output="screen">
            <param name="button" value="false"/>
            <param name="search_abort" value="false"/>
            <param name="action_time" value="5"/>
        </node>
        <node pkg="selfie_scheduler" type="scheduler" name="scheduler" output="screen">
            <param name="drive_steering_mode" value="2"/>
            <param name="parking_steering_mode" value="1"/>
        </node>
        <node pkg="selfie_scheduler" type="rc_mock" name="rc_mock" output="screen">
            <param name ="rc_reset_time" value="0"/>
        </node>
</launch>
