Standard: Cpp11
BasedOnStyle: LLVM
BreakBeforeBraces: Custom
ColumnLimit: 125
BraceWrapping:
  AfterEnum: true
  AfterStruct: true
  AfterClass: true
  AfterControlStatement: true
  AfterFunction: true
  AfterUnion: true
BreakConstructorInitializersBeforeComma: true
