<launch>
  <arg name="homography_file" default="/home/$(env USER)/.ros/homography_export.yaml" />
  <arg name="lookahead" default="0.3" />
  <arg name="min_seed" default="0.5" />

  <include file="$(find selfie_launch)/launch/subsystems/transforms.launch"/>

  <node pkg="urg_node" type="urg_node" name="lidar"/>

  <node name="stm32_bridge" type="selfie_stm32_bridge" pkg="selfie_stm32_bridge">
    <remap from="/speed" to="/stm32/speed" />
  </node>

  <include file="$(find selfie_launch)/launch/subsystems/basler.launch"/>

  <include file="$(find selfie_launch)/launch/subsystems/control.launch"/>

  <node name="detect_markings" type="detect_markings" pkg="selfie_perception" respawn="true" output="screen">
    <param name="config_file" value="$(arg homography_file)" />
    <param name="threshold_c" value="-20"/>

    <param name="debug_mode" value="false"/>
    <param name="hom_cut_tune_mode" value="false"/>

    <param name="hom_cut_l_x" value="0"/>
    <param name="hom_cut_l_y" value="0"/>
    <param name="hom_cut_r_x" value="0"/>
    <param name="hom_cut_r_y" value="0"/>

    <param name="pf_num_samples" value="50"/>
    <param name="pf_num_points" value="3"/>
    <param name="pf_std" value="0.015"/>
    <param name="pf_num_samples_vis" value="4"/>
  </node>

  <node name="extract_road_features" type="extract_road_features" pkg="selfie_path_planner">
    <param name="lookahead" value="$(arg lookahead)" />
    <param name="min_speed" value="$(arg min_seed)" />
  </node>

  <node pkg="selfie_perception" type="detect_obstacles" name="selfie_obstacle_detector">
    <param name="upside_down" value="false"/>
    <param name="visualize" value="false" />
    <param name="max_range" value="2.0"/>
    <param name="min_range" value="0.03"/>
    <param name="lidar_offset" value="0.0"/>
    <param name="segment_threshold" value="0.07"/>
    <param name="min_segment_size" value="0.04"/>
    <param name="min_to_divide" value="0.03"/>
  </node>

  <node name="odometry" type="selfie_odometry" pkg="selfie_odometry" />

  <include file="$(find selfie_launch)/launch/subsystems/action_servers.launch"/>

   <node name="scheduler" type="scheduler" pkg="selfie_scheduler" />

</launch>
