<launch>
    <!-- <param name="use_sim_time" value="true" /> -->

    <node name="diagnose" pkg="selfie_diagnostic_node" type="main.py" output="screen">
        <param name="delay" value="10" />
        <param name="debug" value="false" />

        <param name="0_sensor_name" value="lidar" />
        <param name="0_sensor_directory" value="/dev/amouse" />
        <param name="0_sensor_topic" value="/scan" />
        <param name="0_sensor_datatype" value="LaserScan" />
        <param name="0_sensor_hz" value="10" />

        <param name="1_sensor_name" value="unknown" />
        <param name="1_sensor_directory" value="/dev/amouse" />
        <param name="1_sensor_topic" value="/topiccc" />
        <param name="1_sensor_datatype" value="LaserScan" />
        <param name="1_sensor_hz" value="10" />
    </node>
</launch>