<launch>
    <node name="diagnose" pkg="selfie_diagnostic_node" type="diagnose.py" output="screen">
        <param name="delay" value="10" />
        <param name="debug" value="false" />
        <param name="frequency" value="1" />

        <param name="0_sensor_name" value="Lidar" />
        <!-- <param name="0_sensor_directory" value="/dev/sensors/hokuyo_H1312790" /> -->
        <param name="0_sensor_topic" value="/scan" />
        <param name="0_sensor_datatype" value="LaserScan" />
        <param name="0_sensor_hz" value="10" />
        
        <param name="1_sensor_name" value="Imu" />
        <!-- <param name="1_sensor_directory" value="/dev/amouse" /> -->
        <param name="1_sensor_topic" value="/imu" />
        <param name="1_sensor_datatype" value="Imu" />
        <param name="1_sensor_hz" value="250" />

        <param name="2_sensor_name" value="Camera" />
        <!-- <param name="2_sensor_directory" value="/dev/amouse" /> -->
        <param name="2_sensor_topic" value="/image_rect" />
        <param name="2_sensor_datatype" value="Image" />
        <param name="2_sensor_hz" value="102" />

        <param name="3_sensor_name" value="STM" />
        <!-- <param name="3_sensor_directory" value="/dev/amouse" /> -->
        <param name="3_sensor_topic" value="/stm32/speed" />
        <param name="3_sensor_datatype" value="Float32" />
        <param name="3_sensor_hz" value="250" />
    </node>
</launch>